@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

*{
  margin: 0;
  box-sizing: border-box;
}

main{
  width: 100%;
  min-height: 100vh;
  background-image: url('sun-bg.jpg');
  background-position: 50%;

  section{
  margin: auto;
  width: 70%;
  text-align: center;
  padding-top: 40px;

  button{
    margin-top: 40px;
    cursor: pointer;
    width: 80px;
  }
  }

  .tempinfo{
    width: 100%;
    height: auto;
    background-color: rgba($color: #fff, $alpha: 70%);
    visibility: hidden;

  .tempvalues{
    display: flex;
    
    span{
      padding: 5px;
    }
  }
  }

  .headings{
    display: flex;
    gap: 10px;

    &:nth-of-type(1){
      padding-left:10px;
    }
  }

  .tempinfo.tempinfook{
    visibility: visible;
  }
}