@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

*{
  margin: 0;
  box-sizing: border-box;
}

main{
  width: 100%;
  min-height: 100vh;
  background-image: url('sun-bg.jpg');
  background-position: 50%;
}