@use "utils/a11y"; // Om det inte funkar, byt @use mot @import
@use "vendor/reset";

*{
  margin: 0;
  box-sizing: border-box;
}

main{
  width: 100%;
  min-height: 100vh;
  background-image: url('day.jpg');
  background-position: 70%;



  section{
  margin: auto;
  width: 70%;
  text-align: center;
  padding-top: 40px;

  button{
    margin-top: 40px;
    cursor: pointer;
    width: 80px;
  }
  }

  .tempinfo{
    width: 100%;
    height: auto;
    background-color: rgba($color: #fff, $alpha: 70%);
    visibility: hidden;

    table{
      margin-left: 40px;
    }

  }
  

  .tempinfo.tempinfook{
    visibility: visible;
  }
}

/* WHEN IT IS DUSK */
main.dusk{
  background-image: url('dusk.jpg');
}

/* WHEN ITS NIGHT */

main.night{
  background-image: url('night.jpg');
  
  h1{
    color: lightgray;
  }
}

main.minusdegrees{
  background-image: url('minusdegrees.jpg');
}